name: Deploy to Firebase Hosting on merge

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm ci

      - name: Lint & Validate
        run: npm run lint --if-present

      # Opcional: si NO tienes build, no pasa nada
      - name: Build (optional)
        run: npm run build --if-present

      - name: Build (optional)
        run: npm run build --if-present

      - name: Deploy to Firebase Hosting (LIVE)
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_REVERENCIAMAJESTAD_DD2BA }}'
          projectId: reverenciamajestad-dd2ba
          channelId: live
